img {
    border-radius: 50%;
  }
.center-box{
    display: flex;
    justify-content: space-around;
  }
 body{
    background-color: black;
  }
.myname{
    color: rgb(126, 0, 243);
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.paragraph_1{
    text-align: center;
    color: blueviolet;
  }

  .titolo{
    color: blueviolet;
    font-size:larger
  }

  .testo{
    color: white;
    font-size: medium;
  }

  .immagine_2{
    border-style: ridge;
    border-radius: 0%;
  }

  
  