img {
    border-radius: 50%;
  }
  .center-box{
    display: flex;
    justify-content: space-around;
  }
  body{
    background-color: black;
  }
  .myname{
    color: rgb(126, 0, 243);
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .paragraph_1{
    text-align: center;
    color: blueviolet;
  }
  .paragraph_2{
    color: blueviolet;
    text-align: left;
    font-size: medium;
  }